<div class="container">
  <manager-navbar *ngIf="user.__TYPE__ == 'Manager'"></manager-navbar>
  <third-party-navbar *ngIf="user.__TYPE__ == 'ThirdParty'"></third-party-navbar>
  <router-outlet></router-outlet>
</div>
